


<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Books List</title>
</head>
<body>

{% if (books) %}
<ul class="list-group">
        {% for book in books %}
            <li class="list-group-item" value="{{ book.id }}">
                {{ book.id }}.
                <a href="/list/{{ book.id }}">{{ book.name }}</a>
            </li>
        {% endfor %}
</ul>
{% else %}
    <h3>
        No books. Waiting...
    </h3>
{% endif %}
<div class="card-header bg-dark">
    <a class="text-white" href="/create"> <b>+ Add books</b></a>
</div>
</body>
</html>